name: Docker Build & Push

on: [push, pull_request]

jobs:
  Docker_Build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Java 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Run and Test
      run: |
        mvn clean compile -q
        java -cp target/classes Main

    - name: Docker login
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}      # = maniish001
        password: ${{ secrets.DOCKERHUB_TOKEN }}      # = same token you used in bash

    - name: Docker Build
      run: docker build -t maniish001/git-action-images:v1.0.0 .

    - name: Docker Push
      run: docker push maniish001/git-action-images:v1.0.0
