name: Contanarized Build

on: 
 workflow_dispatch

jobs:
  Docker_Build:
   runs-on: ubuntu-latest
   steps:
     - name: Checkout
       uses: actions/checkout@v4
       
     - name: Docker login
       uses: docker/login-action@v3
       with:
        username: ${{vars.USERNAME}}
        password: ${{secrets.DOCKERPASS}}

     - name: Run and Test
       run: |
        mvn clean compile -q          # Compile 
        java -cp target/classes Main  # Run: "Sum is: 12"
       
        
     - name: Docker Build
       run: |
        docker build -t ${{vars.USERNAME}}/git-action-images/v1.0.0 .        # username/reponame/tag   repo if not availabe in docker will create new one - keep repo and tag alo lowercase
       
     - name: Push to Docker Registry
       run: |
        docker push ${{vars.USERNAME}}/git-action-images/v1.0.0             # username/reponame/tag   repo if not availabe in docker will create new one - keep repo and tag alo lowercase
